<div class="content">
  <div class="login-container">
    <ion-img src="assets\img\winnovateSystemsLogo.png" class="center"></ion-img>
    <form [formGroup]="loginForm" (ngSubmit)="validateForm(loginForm)">

      <ion-item>
        <ion-label position="fixed" class="textDecor">Username</ion-label>
        <ion-input formControlName="username" type="text" placeholder="Enter username" />
      </ion-item>
      <div class="error-label">
        <div
          *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
          Please enter username.
        </div>
      </div>

      <ion-item>
        <ion-label position="fixed" class="textDecor">Password</ion-label>
        <ion-input formControlName="password" type="password" placeholder="Enter password" />
      </ion-item>
      <div class="error-label">
        <div
          *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
          Please enter password.
        </div>
      </div>

      <div class="div-forgot-password">
        <a class="link-forgot-password" [routerLink]="['/forgotPassword']">Forgot Password?</a>
      </div>

      <ion-button class="btn-login" type="submit" expand="block" size="large">Login</ion-button>
    </form>
    <ion-button (click)="register()" expand="block" size="large">Register</ion-button>
  </div>
</div>