.content {
    height:100%;
    width:100%;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:inherit;
    row-gap: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.dashboard-actions {
    margin-bottom: 20px;
}