ion-item {
  margin-top: 15px;
}

ion-button {
  margin-top: 60px;
}

.content {
  height: 100%;
  width: 100%;
}


.forgot-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
  row-gap: 20px;
  padding-left: 15px;
  padding-right: 15px;
}


.textDecor {
  font-weight: bold;
  color: cornflowerblue;
}

.error-label {
  height: 10px;
  color: red;
}
