<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="forgot-password-container">
    <form [formGroup]="forgotPasswordForm">

      <ion-item>
        <ion-label text-wrap position="fixed" class="textDecor">Username</ion-label>
        <ion-input formControlName="username" type="text" placeholder="Enter username" />
      </ion-item>
      <div class="error-label">
        <div
          *ngIf="forgotPasswordForm.get('username')?.invalid && (forgotPasswordForm.get('username')?.dirty || forgotPasswordForm.get('username')?.touched)">
          Please enter username.
        </div>
      </div>

      <ion-item>
        <ion-label text-wrap position="fixed" class="textDecor">New Password</ion-label>
        <ion-input formControlName="newPassword" type="password" placeholder="Enter new password" />
      </ion-item>
      <div class="error">
        <div
          *ngIf="forgotPasswordForm.get('newPassword')?.hasError('required') && (forgotPasswordForm.get('newPassword')?.dirty || forgotPasswordForm.get('newPassword')?.touched)">
          Please provide your new password.
        </div>
        <div
          *ngIf="forgotPasswordForm.get('newPassword')?.hasError('pattern') && (forgotPasswordForm.get('newPassword')?.dirty || forgotPasswordForm.get('newPassword')?.touched)">
          <label>Password should contain:</label>
          <li>Minimum 8 characters.</li>
          <li>One uppercase letter.</li>
          <li>One lowercase letter.</li>
          <li>One number.</li>
          <li>One special character.</li>
        </div>
      </div>

      <ion-item>
        <ion-label text-wrap position="fixed" class="textDecor">Confirm Password</ion-label>
        <ion-input formControlName="confirmNewPassword" type="password" placeholder="Confirm new password" />
      </ion-item>
      <div class="error-label">
        <div
          *ngIf="forgotPasswordForm.get('confirmNewPassword')?.invalid && (forgotPasswordForm.get('confirmNewPassword')?.dirty || forgotPasswordForm.get('confirmNewPassword')?.touched)">
          Please confirm your new password.
        </div>
      </div>

      <div class="password-match-error-label">
        <div *ngIf="forgotPasswordForm.get('confirmNewPassword')?.dirty && forgotPasswordForm.errors">
          Passwords don't match. Please try again.
        </div>
      </div>
    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-button (click)="validateForm(forgotPasswordForm)" expand="block" size="large">Change Password</ion-button>
</ion-footer>