<div class="content">
  <div class="forgot-password-container">
    <h1 class="textDecor" style="text-align: center;">Forgot Password</h1>
    <ion-content>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="validateForm(forgotPasswordForm)">

        <ion-item>
          <ion-label text-wrap position="fixed" class="textDecor">Enter Old Password</ion-label>
          <ion-input formControlName="oldPassword" type="text" placeholder="Enter old password" />
        </ion-item>
        <div class="error-label">
          <div
            *ngIf="forgotPasswordForm.get('oldPassword')?.invalid && (forgotPasswordForm.get('oldPassword')?.dirty || forgotPasswordForm.get('oldPassword')?.touched)">
            Please provide your old password.
          </div>
        </div>


        <ion-item>
          <ion-label text-wrap position="fixed" class="textDecor">Enter New Password</ion-label>
          <ion-input formControlName="newPassword" type="text" placeholder="Enter new password" />
        </ion-item>
        <div class="error-label">
          <div
            *ngIf="forgotPasswordForm.get('newPassword')?.invalid && (forgotPasswordForm.get('newPassword')?.dirty || forgotPasswordForm.get('newPassword')?.touched)">
            Please provide your new password.
          </div>
        </div>

        <ion-item>
          <ion-label text-wrap position="fixed" class="textDecor">Confirm New Password</ion-label>
          <ion-input formControlName="confirmNewPassword" type="text" placeholder="Confirm new password" />
        </ion-item>
        <div class="error-label">
          <div
            *ngIf="forgotPasswordForm.get('confirmNewPassword')?.invalid && (forgotPasswordForm.get('confirmNewPassword')?.dirty || forgotPasswordForm.get('confirmNewPassword')?.touched)">
            Please confirm your new password.
          </div>



        </div>

        <ion-button style="padding-bottom: 0%;" type="submit"  expand="block" size="large">Change Password</ion-button>

        </form>
        </ion-content>
    </div>
</div>
