.content {
    height: 100%;
    width: 100%;
}

.medicine-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    padding-left: 15px;
    padding-right: 15px;
    row-gap: 20px;
}

.textDecor {
    padding-right: 10px;
    font-weight: bold;
    color: cornflowerblue;
}