<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Medicine Tracker</ion-title>
  </ion-toolbar>
</ion-header>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="medicineList">
      <ion-icon name="list-outline"></ion-icon>
      List
    </ion-tab-button>
    <ion-tab-button tab="medicineDue">
      <ion-icon name="today-outline"></ion-icon>
      Today
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>