<div class="content">
  <div class="medicine-tracker-container">
    <h1 class="textDecor" style="text-align: center;">Medicine Tracker</h1>
    <ion-item>
      <ion-label class="label">Name</ion-label>
      <ion-input  type="text" />
    </ion-item>
    <ion-item>
      <ion-label class="label">Timings</ion-label>
      <ion-input  type="text" />
    </ion-item>
    <ion-item>
      <ion-label class="label">Duration</ion-label>
      <ion-input  type="text" />
    </ion-item>
    <ion-item>
      <ion-label class="label">Expiry</ion-label>
      <ion-input  type="text" />
    </ion-item>
  </div>
</div>
