<div class="content">
  <div class="personal-details-container">
    <h1 class="textDecor" style="text-align: center;">Personal Details</h1>
    <form [formGroup]="personalDetailsForm" (ngSubmit)="validateForm(personalDetailsForm)">
      <ion-item>
        <ion-label position="fixed" class="textDecor">Name</ion-label>
        <ion-input formControlName="name" type="text" placeholder="Enter full name" />
      </ion-item>
      <div class="error-label">
        <div
          *ngIf="personalDetailsForm.get('name')?.invalid && (personalDetailsForm.get('name')?.dirty || personalDetailsForm.get('name')?.touched)">
          Please provide a name.
        </div>
      </div>
      <ion-item>
        <ion-label position="fixed" class="textDecor">Age</ion-label>
        <ion-input formControlName="age" type="number" placeholder="Enter your age" />
      </ion-item>
      <div class="error-label">
        <div
          *ngIf="personalDetailsForm.get('age')?.invalid && (personalDetailsForm.get('age')?.dirty || personalDetailsForm.get('age')?.touched)">
          Please provide your age.
        </div>
      </div>
      <ion-item>
        <ion-label position="fixed" class="textDecor">Gender</ion-label>
        <ion-select placeholder="Select your gender" formControlName="gender">
          <ion-select-option value="Male">Male</ion-select-option>
          <ion-select-option value="Female">Female</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="error-label">
        <div
          *ngIf="personalDetailsForm.get('gender')?.invalid && (personalDetailsForm.get('gender')?.dirty || personalDetailsForm.get('gender')?.touched)">
          Please select your gender.
        </div>
      </div>

      <ion-item>
        <ion-label position="fixed" class="textDecor">Country</ion-label>
        <ion-select placeholder="Select your country" formControlName="country">
          <ion-select-option *ngFor="let country of countryList"
            value="{{country.code}}">{{country.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="error-label">
        <div
          *ngIf="personalDetailsForm.get('country')?.invalid && (personalDetailsForm.get('country')?.dirty || personalDetailsForm.get('country')?.touched)">
          Please select your country.
        </div>
      </div>
      <ion-item>
        <ion-label position="fixed" class="textDecor">Phone</ion-label>
        <ion-input formControlName="contact" type="phone" maxLength="10" placeholder="Enter your contact number" />
      </ion-item>
      <div class="error-label">
        <div
          *ngIf="personalDetailsForm.get('contact')?.invalid && (personalDetailsForm.get('contact')?.dirty || personalDetailsForm.get('contact')?.touched)">
          Please provide a contact number.
        </div>
      </div>

      <ion-button type="submit" expand="block" size="large">Next</ion-button>
    </form>
  </div>
</div>